<html>
  <head>
    <title>Todo App</title>
      <style>
        .hidden {display: none;}
      </style>
  </head>
  <body>
    <form id='form'>
        <input type="text" id='name' />
        <input type="text" id='age' />
      <input type="submit" value="Create" />
    </form>
    <ul id='persons'>
      {% for d in data %}
      <li>{{ d.name }}</li>
      {% endfor %}
    </ul>

      <div class = "hidden" id = "error" > Something went wrong! </div>

      <script>

          const nameInput = document.getElementById('name');
          const ageInput = document.getElementById('age');
          document.getElementById('form').onsubmit = function (e) {
          e.preventDefault();
          const name = nameInput.value;
          const age = ageInput.value;

          fetch('/persons/create', {
                method: 'POST',
                body: JSON.stringify({'name': name,'age':age}),
                headers: {
                  'Content-Type': 'application/json',
                }
              })
          .then(function(response) {

               return response.json();
          })
          .then(function(jsonResponse) {

               const liItem= document.createElement('LI');
               liItem.innerHTML = jsonResponse['name'];
               document.getElementById('persons').appendChild(liItem);
               document.getElementById('error').classname='hidden';
          })
          .catch(function() {

               document.getElementById('error').className='';
                })

         }


      </script>


  </body>
</html>
